* {box-sizing: border-box;}

body {
    padding: 10px 10px 10px 10px;
    background: white;
}

div.box { /*主页*/
    width: 60%;
    margin: auto;
}
.pic3 {
    text-align: center;
    width: 30%;
    max-width: 100%;
}
.pic4 {
    text-align: center;
    width: 40%;
    max-width: 100%;
}
    .pic4:hover{opacity:0.8;}/*鼠标移动到杂志封面图片上时，图片透明度调为80%*/

.pic6 {
    text-align: center;
    width: 60%;
    max-width:100%;
}
.pic8 {
    text-align: center;
    width: 80%;
    max-width: 100%;
}
.picflower {
    width: 120px;
    max-width: 100%;
    margin: 40px;
}
.picdec {
    text-align: center;
    width:40px;
    max-width: 100%;
}

.head{
    font-size:20px;
    font-weight:bold;
    margin: 20px 0px;
}
a.badge {
    font-size: 16px;
    margin:5px 0 5px 0; 
    display: inline-block;
    min-width: 10px;
    padding: 5px 10px;
    font-weight: bold;
    line-height: 150%;
    color:#fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgba(34, 139, 230, 0.5);
    border-radius: 12px;
}
a.badge:link {color:white;text-decoration:none;}
a.badge:visited {color:white;text-decoration:none;}
a.badge:hover {color:white;text-decoration:none;}
a.badge:active {color:white;text-decoration:none;}

.time:after {
    content: "";
    display: block;
    width: 10%;
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: .125em solid rgba(34, 139, 230, 0.5);
}

/*设置往期蛙鸣小方块的悬浮方式，参考css float属性中的例子https://www.runoob.com/try/try.php?filename=trycss_float5*/
div.gallery{
    margin: 20px;
}

    div.gallery a {
        float: left;
        display: block;
        padding: 14px 16px;
        text-decoration: none;
    }
.writenote { /*简短备注，所以80%的缩进*/
    border-left: 4px solid rgba(34, 139, 230, 0.5);
    padding: 0 0 0 20px;
    margin: 20px 0px;
    text-align: justify;
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*图片廊https://www.runoob.com/try/try.php?filename=trycss_image_gallery*/
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

    div.img:hover {
        border: 1px solid #777;
    }

    div.img img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

#myBtn {/*返回顶部按钮样式*/
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px 15px 10px 15px;
    border-radius: 20px 20px 8px 8px;
    background-color: /*rgba(216,191,216,0.6)*/ rgb(216,191,216);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1em;
}
    #myBtn:hover { /*鼠标移动到返回顶部按钮上时，显示的样式*/
        background-color: /*rgba(255,182,193,0.6)*/ rgb(255,182,193);
    }


/* 响应式布局 - 屏幕尺寸小于 800px 时，改变图片大小百分比 */
@media screen and (max-width: 800px) {
    div.box,div.box2,.pic6,.writenote{
        width: 100%;
    }
    .pic3{
        width:50%;
    }
    .pic4{
        width:80%;
    }
    div.img{
        width:46%
    }
}

